<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.codan.core.checkers"
         id="org.eclipse.cdt.codan.clang.checkers">
      <category
            id="org.eclipse.cdt.codan.clang.checkers"
            name="Clang">
      </category>
      <checker
            class="org.eclipse.cdt.codan.clang.checkers.ClangTidyChecker"
            id="org.eclipse.cdt.codan.clang.checkers.ClangTidyChecker"
            name="Clang-Tidy">
         <problem
               category="org.eclipse.cdt.codan.clang.checkers"
               defaultEnabled="false"
               defaultSeverity="Warning"
               description="Clang-Tidy warning"
               id="org.eclipse.cdt.codan.checkers.clang.clangtidy.warning"
               messagePattern="{0}"
               name="Clang-Tidy warnings">
         </problem>
      </checker>
   </extension>
</plugin>
